.popup {
	display: flex;
	flex-direction: column;
	justify-content: center;
	// position: fixed;
	position: absolute;
	background: url(../graphics/bg-5.svg) center / cover no-repeat;
	// background: url(../graphics/bg-3.svg) center / cover no-repeat;
	background-color: $color_1;
	min-height: $fullscreen_min_height; // ! --------
	width: 100%;
	height: 100%;
	opacity: 0;
	pointer-events: none;
	padding-bottom: 10%;
}
.email-popup {
	z-index: 101;
}
.call-popup {
	z-index: 102;
}

.feedback-form {
	position: relative;
	width: 100%;
	max-width: 1024px;
	margin: 0px auto;
	font-size: 23px;
	// background-color: $color_2;

	h2 {
		text-align: center;
	}
	&__info {
		width: 100%;
		color: $color_2;
		text-align: center;
		user-select: none;
		pointer-events: none;
		opacity: 0;
	}
	.button-style-3 {
		float: right;
	}
	.popup__send {
		margin-left: 20px;
	}
	&__checkbox {
		margin-left: 1.5rem;
		margin-top: 1rem;
		cursor: pointer;
		user-select: none;
	}
	&__checkbox-title {
		margin-left: 1rem;
		margin-top: 0.3rem;
		cursor: pointer;
		user-select: none;
		color: $color_6;
	}

	&__flex-container-space-between {
		display: flex;
		justify-content: space-between;
	}
	&__flex-container {
		display: flex;
		margin-top: 10px;
	}
	&__input-container {
		position: relative;
		width: 100%;
		margin-top: 30px;
	}
	.input-container-half-width {
		width: calc(50% - 10px);
	}
	&__input {
		width: 100%;
		height: 50px;
		background-color: $color_3;
		color: $color_1;
		font-size: 23px;
		padding: 4px 20px 0;
		border-radius: 10px;
		border: 0;
		outline: 0;
	}
	&__input-message {
		padding: 15px 20px 0;
		height: 100px;
		resize: vertical;
	}
	&__cut {
		position: absolute;
		background-color: $color_1;
		left: 20px;
		top: -24px;
		height: 24px;
		border-radius: 12px;
		transform: translateY(0);
		transition: transform 200ms;
	}
	.cut-name-width {
		width: 85px;
	}
	.cut-email-width {
		width: 55px;
	}
	.cut-message-width {
		width: 95px;
	}
	.cut-call-width {
		width: 63px;
	}
	&__placeholder {
		position: absolute;
		// color: $color_3; // ? звет по умолчанию
		color: rgba($color: $color_1, $alpha: 0.5);
		top: 18px;
		left: 20px;
		line-height: 14px;
		pointer-events: none;
		transform-origin: 0 50%;
		transition: transform 200ms, color 200ms;
	}
	&__input:focus ~ &__cut,
	&__input:not(:placeholder-shown) ~ &__cut {
		transform: translateY(10px);
	}
	&__input:focus ~ &__placeholder,
	&__input:not(:placeholder-shown) ~ &__placeholder {
		transform: translateY(-30px) translateX(10px) scale(0.75);
	}
	&__input:not(:placeholder-shown) ~ &__placeholder {
		color: $color_3;
	}
	&__input:focus ~ &__placeholder {
		color: $color_2;
	}
}
